PyPDF2
python-docx
nltk
textblob
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1.tar.gz
Flask==2.3.3
Flask-CORS==4.0.0
gunicorn==21.2.0
numpy==1.24.3
spacy
